In [13]:
import pandas as pd
import numpy as np

In [20]:
#강남구
df2020_1_GANGNAM = pd.read_excel('./data/2020/2020_1.xls')

df2020_1_GANGNAM = df2020_1_GANGNAM[['날짜','측정소명','PM10']]
df2020_1_GANGNAM[df2020_1_GANGNAM['측정소명'] == '강남구'] 
df2020_1_GANGNAM['날짜'] = df2020_1_GANGNAM['날짜'].str[:10]
df2020_1_GANGNAM['날짜'] = df2020_1_GANGNAM['날짜'].str.replace('-','')

df2020_1_GANGNAM.drop(df2020_1_GANGNAM.loc[df2020_1_GANGNAM['PM10'] == -999].index, inplace = True)
df2020_1_GANGNAM = df2020_1_GANGNAM.groupby('날짜').mean()
df2020_1_GANGNAM['PM10'] = round(df2020_1_GANGNAM['PM10'], 2)
df2020_1_GANGNAM.rename(columns={'PM10' : '강남구'})

            강남구
날짜
20200101  33.85
20200102  59.26
20200103  66.83
20200104  55.36
20200105  52.00
20200106  37.84
20200107   8.38
20200108  27.19
20200109  49.80
20200110  64.38
20200111  53.53
20200112  45.75
20200113  25.59
20200114  31.14
20200115  38.24
20200116  42.71
20200117  57.69
20200118  63.53
20200119  63.01
20200120  51.84
20200121  44.37
20200122  44.86
20200123  62.14
20200124  71.27
20200125  49.11
20200126  26.58
20200127  10.63
20200128  12.40
20200129  16.94
20200130  17.94
20200131  29.99

In [22]:
#강동구
df2020_1_GANGDONG = pd.read_excel('./data/2020/2020_1.xls')

df2020_1_GANGDONG = df2020_1_GANGDONG[['날짜','측정소명','PM10']]
df2020_1_GANGDONG[df2020_1_GANGDONG['측정소명'] == '강동구'] 
df2020_1_GANGDONG['날짜'] = df2020_1_GANGDONG['날짜'].str[:10]
df2020_1_GANGDONG['날짜'] = df2020_1_GANGDONG['날짜'].str.replace('-','')

df2020_1_GANGDONG.drop(df2020_1_GANGDONG.loc[df2020_1_GANGDONG['PM10'] == -999].index, inplace = True)
df2020_1_GANGDONG = df2020_1_GANGDONG.groupby('날짜').mean()
df2020_1_GANGDONG['PM10'] = round(df2020_1_GANGDONG['PM10'], 2)
df2020_1_GANGDONG.rename(columns={'PM10' : '강동구'})

            강동구
날짜
20200101  33.85
20200102  59.26
20200103  66.83
20200104  55.36
20200105  52.00
20200106  37.84
20200107   8.38
20200108  27.19
20200109  49.80
20200110  64.38
20200111  53.53
20200112  45.75
20200113  25.59
20200114  31.14
20200115  38.24
20200116  42.71
20200117  57.69
20200118  63.53
20200119  63.01
20200120  51.84
20200121  44.37
20200122  44.86
20200123  62.14
20200124  71.27
20200125  49.11
20200126  26.58
20200127  10.63
20200128  12.40
20200129  16.94
20200130  17.94
20200131  29.99

In [23]:
df2020_1_GANGDONG = pd.read_excel('./data/2020/2020_1.xls')

df2020_1_GANGDONG = df2020_1_GANGDONG[['날짜','측정소명','PM10']]
df2020_1_GANGDONG[df2020_1_GANGDONG['측정소명'] == '강동구'] 
df2020_1_GANGDONG['날짜'] = df2020_1_GANGDONG['날짜'].str[:10]
df2020_1_GANGDONG['날짜'] = df2020_1_GANGDONG['날짜'].str.replace('-','')

df2020_1_GANGDONG.drop(df2020_1_GANGDONG.loc[df2020_1_GANGDONG['PM10'] == -999].index, inplace = True)
df2020_1_GANGDONG = df2020_1_GANGDONG.groupby('날짜').mean()
df2020_1_GANGDONG['PM10'] = round(df2020_1_GANGDONG['PM10'], 2)
df2020_1_GANGDONG.rename(columns={'PM10' : '강동구'})

            강동구
날짜
20200101  33.85
20200102  59.26
20200103  66.83
20200104  55.36
20200105  52.00
20200106  37.84
20200107   8.38
20200108  27.19
20200109  49.80
20200110  64.38
20200111  53.53
20200112  45.75
20200113  25.59
20200114  31.14
20200115  38.24
20200116  42.71
20200117  57.69
20200118  63.53
20200119  63.01
20200120  51.84
20200121  44.37
20200122  44.86
20200123  62.14
20200124  71.27
20200125  49.11
20200126  26.58
20200127  10.63
20200128  12.40
20200129  16.94
20200130  17.94
20200131  29.99